@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-color :#040404;
    --gray: #F2F1F2;
    --purple:#95A1F9;
  }
.h1{
   text-align: left;
   align-items: left;
    font-family: "Noto Sans", sans-serif;
}
.h1 span {
    color: var(--purple);
  }
.skill {
  text-decoration: none;
  font-family: "Doto", sans-serif;
  font-weight: 500; 
  border: 2px solid var(--purple);
  border-radius: 5px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  height: 23px;
  text-align: center;
  align-items: center;    
  justify-content: center; 
  background-color: var(--bg-color);
  color: var(--purple);
}
.skills-container {
  display: flex;           
  flex-wrap: wrap;        
  gap: 10px;               
}
