.FooterBar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1rem;
  color: var(--purple);
  font-family: "Doto", sans-serif;
  font-size: 20px;
  font-weight: 1000;
  font-style: normal;
}

.FooterBar a {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 8px;
  text-decoration: none;
  color: var(--gray);
  font-weight: 1000;
  transition: color 0.3s ease;
}

.FooterBar a:hover {
  color: var(--purple);
  cursor: pointer;
}

.arrow-link {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--purple);
}

.arrow-link::after {
  content: "↗";
  position: absolute;
  top: -6px;
  right: -2px;
  font-size: 14px;
  color: var(--purple);
  transition: transform 0.3s ease;
}

.arrow-link:hover::after {
  animation: bounce 0.3s ease infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}

.ending {
  display: flex;
  margin-bottom: 0.92rem;
  margin-left: 0;
  color: var(--gray);
  font-family: "Doto", sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.ending p {
  margin: 0;
  font-size: 18px;
  color: var(--gray);
  text-align: left;
}

@media (max-width: 768px) {
  .FooterBar {
    gap: 1rem;
    font-size: 18px;
  }

  .FooterBar a {
    font-size: 18px;
  }

  .ending {
    font-size: 18px;
  }

  .ending p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .FooterBar {
    width: 100%;
    justify-content: flex-start;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 16px;
  }

  .FooterBar a {
    padding: 0 5px;
    font-size: 16px;
    white-space: nowrap;
  }

  .arrow-link {
    padding-right: 12px;
  }

  .arrow-link::after {
    top: -5px;
    right: -2px;
    font-size: 12px;
  }

  .ending {
    width: 100%;
    margin-bottom: 0.7rem;
    padding-left: 5px;
    font-size: 16px;
  }

  .ending p {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .FooterBar {
    gap: 0.5rem;
  }

  .FooterBar a {
    padding: 0 3px;
    font-size: 14px;
  }

  .arrow-link::after {
    font-size: 11px;
  }

  .ending p {
    font-size: 13px;
  }
}