@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-color :#040404;
    --gray: #F2F1F2;
    --purple:#95A1F9;
  }
 
.card{
   
    align-items: left;
    text-align: left;
    
}
.card h3,a{
  font-family: "Doto", sans-serif;
}
.card p{
    display: flex;
  text-align: left;
  font-family: "Noto Sans", sans-serif;
  justify-content: space-between;
  align-items: center;
}
.mobile-text {
 
  display: none;
}
.card ul li::marker{
  color: var(--purple);
}
.skills {
    text-decoration: none;

    font-weight: 5000;
    color: var(--gray);
    border: 2px solid var(--purple);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 4px 4px 4px 4px;
    text-align: center;
    margin-right: 15px; 
    margin-bottom: 5px;
    display: inline-block; 
    background-color: var(--bg-color);
    
  }
  .Images-scroll {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  width: 100%;

  scrollbar-width: thin; /* Firefox */
  -webkit-overflow-scrolling: touch;
}

.Images-scroll > * {
  flex-shrink: 0;
}

.Images-scroll img {
  width: 205px;
  height: 150px;
  border-radius: 5px;
  cursor: zoom-in;
  object-fit: cover;
}
.Images-scroll::-webkit-scrollbar {
  display: none;
}

.Images-scroll {
  scrollbar-width: none;
}
[data-rmiz-modal-overlay="visible"] {
  background-color: var(--purple) !important;
}

[data-rmiz-btn-unzoom] {
  color: var(--purple) !important;
  background: var(--bg-color )!important;
  border-radius: 50%;
  padding: 8px;
}
@media (max-width: 420px) {
  body {
  overflow-x: hidden;
}

  .card{
    padding-left: 15px;
    padding-right: 15px;
  }
    .mobile-text {
    display: block;
  }

  .desktop-text {

    display: none;
  }
  .Images-scroll {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.Images-scroll > * {
  flex: 0 0 auto;
}

.Images-scroll img {
  width: 205px;
  height: 150px;
  object-fit: cover;
  display: block;
}

  .Images-scroll::-webkit-scrollbar {
    display: none; 
  }

 

.Images-scroll > * {
  flex-shrink: 0;
}
[data-rmiz-modal-overlay="visible"] {
  background-color: var(--purple) !important;
}

[data-rmiz-btn-unzoom] {
  color: var(--purple) !important;
  background: var(--bg-color )!important;
  border-radius: 50%;
  padding: 8px;
}
}